<header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="/" class="nav__logo">Mybrary</a>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="#" class="nav__link active">Books</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">Add Bookt</a></li>
                        <li class="nav__item"><a href="/authors" class="nav__link">Authors</a></li>
                        <li class="nav__item"><a href="/authors/new" class="nav__link">Add Author</a></li>
                    </ul>
                </div>
            </nav>
        </header>